In [0]:
%tensorflow_version 2.x

In [2]:
import tensorflow as tf

dataset = tf.keras.utils.get_file(
    fname="aclImdb.tar.gz", 
    origin="http://ai.stanford.edu/~amaas/data/sentiment/aclImdb_v1.tar.gz", 
    extract=True,
)

Downloading data from http://ai.stanford.edu/~amaas/data/sentiment/aclImdb_v1.tar.gz
84131840/84125825 [==============================] - 9s 0us/step

In [0]:
import os
import glob
import pandas as pd

def get_data(n):
    train_dn = os.path.join(dn, n)
    contents = []
    sentiment = []
    pos_fn = os.path.join(train_dn, "pos", "*.txt")
    for fn in glob.glob(pos_fn):
        with open(fn, "r", encoding="utf-8") as f:
            contents.append(f.read())
            sentiment.append(1)

    neg_fn = os.path.join(train_dn, "neg", "*.txt")
    for fn in glob.glob(neg_fn):
        with open(fn, "r", encoding="utf-8") as f:
            contents.append(f.read())
            sentiment.append(0)

    df = pd.DataFrame({
            "content": contents,
            "sentiment": sentiment
        }, columns=["content", "sentiment"])
    return df

In [4]:
dn = os.path.dirname(dataset)
dn = os.path.join(dn, "aclImdb")
# glob.glob("/root/.keras/datasets/aclImdb/train/pos/*")

train_df = get_data("train")
test_df = get_data("test")
test_df

                                                 content  sentiment
0      The evil Professor Moriarty plots to gain cont...          1
1      As a French, i found it very pleasant to be ab...          1
2      Mary Pickford plays Annie Rooney--the daughter...          1
3      I don't recall a film which so deftly shows th...          1
4      When is ART going to overcome racism? I believ...          1
...                                                  ...        ...
24995  This film is a perfect example that a movie ca...          0
24996  First, I should say that I've seen the '39 ver...          0
24997  Oh God. Why is it that Nickelodeon has such a ...          0
24998  Lots of flames, thousands of extras in battle ...          0
24999  I though that it was hard, if not impossible, ...          0

[25000 rows x 2 columns]

In [0]:
# 記得先將嵌入層(Embedding)當作第一層
# 1. tokenize: 找出多少種詞
from tensorflow.keras.preprocessing.text import Tokenizer
tok = Tokenizer(num_words=3000)

# 這像是以前CountVectorizer的fit(找出多少種)
tok.fit_on_texts(train_df["content"])

In [0]:
# 先把正向轉換和反向轉換準備好
index_2_word = tok.index_word
word_2_index = {v:k for k, v in tok.index_word.items()}

In [7]:
# 轉化成數字，transform
# 這些數字會在3000(Tokenizer(num_words=3000)<<<這裡設定的)的精選單詞內

x_train_seq = tok.texts_to_sequences(train_df["content"])
x_test_seq = tok.texts_to_sequences(test_df["content"])
pd.DataFrame(x_test_seq)

       0     1     2     3      4     ...  2005  2006  2007  2008  2009
0         1   442  2493  1843    5.0  ...   NaN   NaN   NaN   NaN   NaN
1        14     3   780    10  255.0  ...   NaN   NaN   NaN   NaN   NaN
2      1079   296     1   575    4.0  ...   NaN   NaN   NaN   NaN   NaN
3        10    89  2278     3   19.0  ...   NaN   NaN   NaN   NaN   NaN
4        51     6   495   167    5.0  ...   NaN   NaN   NaN   NaN   NaN
...     ...   ...   ...   ...    ...  ...   ...   ...   ...   ...   ...
24995    11    19     6     3  401.0  ...   NaN   NaN   NaN   NaN   NaN
24996    83    10   141   132   12.0  ...   NaN   NaN   NaN   NaN   NaN
24997   446   557   135     6    9.0  ...   NaN   NaN   NaN   NaN   NaN
24998   772     4     4  2260    8.0  ...   NaN   NaN   NaN   NaN   NaN
24999    10   148    12     9   13.0  ...   NaN   NaN   NaN   NaN   NaN

[25000 rows x 2010 columns]

In [8]:
# 後面有接MLP, 一定要讓input是一樣的
from tensorflow.keras.preprocessing.sequence import pad_sequences
x_train_padseq = pad_sequences(x_train_seq, maxlen=256)
x_test_padseq = pad_sequences(x_test_seq, maxlen=256)
pd.DataFrame(x_test_padseq)

       0    1    2    3    4    5    6    ...  249  250  251   252  253  254   255
0        0    0    0    0    0    0    0  ...    1  541    4  2575    2    8  2076
1        0    0    0    0    0    0    0  ...   96  137   64     9   44   22    67
2        0    0    0    0    0    0    0  ...   22   23    3   663  334    4     1
3        0    0    0    0    0    0    0  ...  719   11    5     3  322   19     6
4        0    0    0    0    0    0    0  ...  589  763   20   285    7    7  1464
...    ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...   ...  ...  ...   ...
24995    0    0    0    0    0    0    0  ...   98   11   13     3  435    4    55
24996  329    1  294   60    6  272   36  ...  878   38  122    33  554    1    17
24997   13    7    7    3   96  343  500  ...    7    7  860   143  221   16    58
24998    0    0    0    0    0    0    0  ...    2   10  101    11   36    1    19
24999    0    0    0    0    0    0    0  ...  249   18  469   195   21  752   192

[25000 rows x 256 columns]

In [9]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Embedding
from tensorflow.keras.layers import Flatten, Dense, Dropout
# MLP: 0保留(padding)
INPUT_DIM = 3000 + 1
EMBEDDING_DIM = 64
INPUT_LENGTH = 256

model = Sequential()
model.add(Embedding(INPUT_DIM,
                    EMBEDDING_DIM,
                    mask_zero=True,
                    input_length=INPUT_LENGTH))
model.add(Flatten())
model.add(Dense(128, activation='relu'))
model.add(Dropout(0.25))
model.add(Dense(2, activation='softmax'))
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding (Embedding)        (None, 256, 64)           192064
_________________________________________________________________
flatten (Flatten)            (None, 16384)             0
_________________________________________________________________
dense (Dense)                (None, 128)               2097280
_________________________________________________________________
dropout (Dropout)            (None, 128)               0
_________________________________________________________________
dense_1 (Dense)              (None, 2)                 258
=================================================================
Total params: 2,289,602
Trainable params: 2,289,602
Non-trainable params: 0
_________________________________________________________________

In [0]:
from tensorflow.keras.losses import SparseCategoricalCrossentropy
# 非必要先做one-hot encoding
# SparseCategoricalCrossentropy 會逐筆做one-hot encoding
model.compile(loss=SparseCategoricalCrossentropy(),
              optimizer="adam",
              metrics=["accuracy"])

In [11]:
from tensorflow.keras.callbacks import EarlyStopping, ModelCheckpoint

y_train = train_df["sentiment"]
y_test = test_df["sentiment"]

stop_callback = EarlyStopping(patience=3, restore_best_weights=True)
save_callback = ModelCheckpoint("fashion.h5", save_best_only=True)
model.fit(x_train_padseq, 
          y_train,
          batch_size=200,
          epochs=100,
          validation_split=0.1,
          callbacks=[stop_callback, save_callback],
          verbose=2)

Epoch 1/100
113/113 - 2s - loss: 0.4999 - accuracy: 0.7343 - val_loss: 0.2928 - val_accuracy: 0.8760
Epoch 2/100
113/113 - 1s - loss: 0.1828 - accuracy: 0.9315 - val_loss: 0.3036 - val_accuracy: 0.8756
Epoch 3/100
113/113 - 1s - loss: 0.0465 - accuracy: 0.9883 - val_loss: 0.4660 - val_accuracy: 0.8412
Epoch 4/100
113/113 - 1s - loss: 0.0082 - accuracy: 0.9992 - val_loss: 0.5351 - val_accuracy: 0.8528

In [12]:
model.evaluate(x_test_padseq, y_test)

782/782 [==============================] - 2s 2ms/step - loss: 0.3103 - accuracy: 0.8653

[0.3103237748146057, 0.8653200268745422]

In [22]:
model.layers[0].get_weights()

[array([[ 0.00153363, -0.00974064,  0.00249944, ..., -0.00606399,
         -0.00063847, -0.00299234],
        [-0.00416719,  0.0156522 ,  0.03949567, ...,  0.02481796,
         -0.02202154,  0.01939226],
        [-0.03241707, -0.02534448,  0.02557174, ..., -0.02335948,
          0.03019652, -0.02350821],
        ...,
        [-0.01927915,  0.00546745, -0.0081289 , ...,  0.01434679,
         -0.02470182, -0.04382801],
        [-0.0406917 , -0.07132855,  0.01000506, ...,  0.00239864,
         -0.01909867,  0.01462507],
        [-0.0308555 ,  0.03101644,  0.02087346, ...,  0.04514276,
          0.02163912, -0.01351703]], dtype=float32)]

In [16]:
infer = Sequential()
infer.add(Embedding(INPUT_DIM,
                    EMBEDDING_DIM))
w = model.layers[0].get_weights()
infer.set_weights(w)
infer.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_2 (Embedding)      (None, None, 64)          192064
=================================================================
Total params: 192,064
Trainable params: 192,064
Non-trainable params: 0
_________________________________________________________________

In [21]:
w = input("你要轉換成哪個詞")
data = [[word_2_index[w]]]
print("詞向量:", infer.predict(data))

你要轉換成哪個詞student
詞向量: [[[-0.00105914 -0.0020631  -0.01876591 -0.00755534  0.01989232
    0.01585402 -0.04183568 -0.02519992  0.00465348 -0.04024911
    0.01921668  0.00177531  0.03114193 -0.051178    0.0335753
   -0.00216047  0.03411678  0.04702888  0.03809971 -0.03935854
    0.02161213 -0.04510923 -0.01883809 -0.05124252 -0.00272941
    0.02040105  0.00492789 -0.02159984  0.03697717 -0.01429486
    0.00876276 -0.02496424  0.02202799 -0.052978   -0.00219642
    0.03504447 -0.00286206  0.0518571  -0.01913481  0.02293452
   -0.02173744  0.03125426  0.01658905 -0.00134882  0.04367308
   -0.03130725 -0.01770249 -0.02921824  0.02950785 -0.03690568
   -0.02457516 -0.00076917  0.02315505 -0.01729396 -0.07236654
   -0.03372939 -0.04626777  0.04544401 -0.01866171  0.04162861
   -0.0228951   0.01672207 -0.00525077 -0.03069523]]]